.top_five{
  position: relative;
  margin-top: 20px;
}

.top_five img{
  width: 100%;
}

.top_five-text{
  color: grey;
  width: 280px;
  text-align: center;
  margin: 0 auto;
}

.top_five-margin{
  margin-top: 15px;
}

.top_five-margin .image-wrapper{
  margin-top: 10px;
}

@media (min-width: 800px) {
  .top_five-text{
    width: 500px;
  }
}